#instagram{
    .eapps-instagram-feed-title-container{
        display: none !important;
    }

    .box{
        width: 100px;
        background:$white;
        color: $grey-dark;
        padding: 45px;
        position: absolute;
        z-index: 9;
        opacity: 0.8;
        left: 43%;
        margin: 60px 0px;
        text-transform: uppercase;
    }
}